* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
    color: white;
}

.content {
    width: 100%;
    max-width: 1440px;
    padding: 0 16px;
    height: 100%;
}