header {
    height: 130px;
    background: rgb(75, 2, 75);
    display: flex;
    justify-content: center;
    z-index: 1;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        gap: 16px;

        img {
            height: 65px;
        }

        .searchbar {
            display: flex;
            gap: 12px;
        }

        #searchInput {
            border: 1px white solid;
            border-radius: 12px;
            padding: 2px 8px;
            box-shadow: 2px 2px 5px 0px rgb(255, 255, 255, 0.3);
            outline: none;
        }

        #searchButton {
            border: 1px white solid;
            border-radius: 12px;
            padding: 2px 8px;
            box-shadow: 2px 2px 5px 0px rgb(255, 255, 255, 0.3);
        }
    }
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    transform: translateY(100%);
    background: linear-gradient(to bottom, rgba(75, 2, 75), rgb(4, 4, 48));
}

main {
    background: rgb(4, 4, 48);
    min-height: 72.5dvh;
    display: flex;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 28px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
    }
}

#noResults {
    z-index: 1;
}

.test {
    height: 100px;
}

footer {
    position: relative;
    height: 8dvh;
    background: rgb(75, 2, 75);
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 4;
    transform: translateY(-100%);
    background: linear-gradient(to top, rgba(75, 2, 75), rgb(4, 4, 48));
}

#gallery {
    z-index: 42;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        padding: 12px;
        gap: 24px;

        width: 135px;

        img {
            height: 100px;
        }

        .card-top {
            display: flex;
            justify-content: center;
            width: 100%;

            p {
                position: absolute;
                align-self: center;
                top: 28px;
                right: 0;
            }
        }

        .card-bottom {
            display: flex;
            flex-direction: column;
            gap: 8px;
            bottom: 8px;
        }
    }

    h2 {
        text-transform: capitalize;
        font-size: 18px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    }

    .type-badge {
        min-width: 70px;
        padding: 2px 8px;
        border-radius: 12px;
        text-transform: capitalize;
        border: 1px solid white;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    }
}

#loadMore {
    z-index: 42;
    border: 1px solid white;
    padding: 4px 12px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.3);
    width: fit-content;
    font-size: 18px;
}

body.no-scroll {
    overflow: hidden;
}

#noResults {
    z-index: 200;
    font-size: 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 75dvh;
    width: clamp(135px, 100%, 690px);

    border: none;
    outline: none;
    border-radius: 16px;

    font-size: 24px;

    img {
        height: 200px;
    }
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

    #dialogContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        padding: 16px 16px;
        text-transform: capitalize;

        p {
            position: absolute;
            top: 55px;
            right: 8px;
        }

        .bottom-dialog {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
}

#previous img {
    height: 50px;
    transform: rotate(180deg);
}

#next img {
    height: 50px;
}

#closeDialog {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 9999;
}
