header {
    height: 130px;
    background: rgb(75, 2, 75);
    display: flex;
    justify-content: center;
    z-index: 1;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        gap: 16px;

        img {
            height: 65px;
        }

        .searchbar {
            display: flex;
            gap: 12px;
        }

        #searchInput {
            border: 1px white solid;
            border-radius: 12px;
            padding: 2px 8px;
            box-shadow: 2px 2px 5px 0px rgb(255, 255, 255, 0.3);
            outline: none;
        }

        #searchButton {
            border: 1px white solid;
            border-radius: 12px;
            padding: 2px 8px;
            box-shadow: 2px 2px 5px 0px rgb(255, 255, 255, 0.3);
        }
    }
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    transform: translateY(100%);
    background: linear-gradient(to bottom, rgba(75, 2, 75), rgb(4, 4, 48));
}

main {
    background: rgb(4, 4, 48);
    min-height: calc(92dvh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
    }
}

#noResults {
    z-index: 1;
}

.test {
    height: 100px;
}

footer {
    position: relative;
    height: 8dvh;
    background: rgb(75, 2, 75);
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 4;
    transform: translateY(-100%);
    background: linear-gradient(to top, rgba(75, 2, 75), rgb(4, 4, 48));
}

#gallery {
    z-index: 42;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        padding: 12px;
        gap: 24px;
        border: 1px solid white;

        width: clamp(135px, 35vw, 160px);

        img {
            height: 100px;
        }

        .card-top {
            display: flex;
            justify-content: center;
            width: 100%;

            p {
                position: absolute;
                align-self: center;
                top: 28px;
                right: 0;
            }
        }

        .card-bottom {
            display: flex;
            flex-direction: column;
            gap: 8px;
            bottom: 8px;
        }
    }

    h2 {
        text-transform: capitalize;
        font-size: 18px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    }

}
.type-badge {
    min-width: 70px;
    padding: 2px 8px;
    border-radius: 12px;
    text-transform: capitalize;
    border: 1px solid white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

#loadMore {
    z-index: 42;
    border: 1px solid white;
    padding: 4px 12px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.3);
    width: fit-content;
    font-size: 18px;
}

body.no-scroll {
    overflow: hidden;
}

#noResults {
    z-index: 200;
    font-size: 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: clamp(550px, 90dvh, 650px);
    width: clamp(135px, 100%, 400px);

    border: none;
    outline: none;
    border-radius: 16px;

    font-size: 24px;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;    
    box-shadow: 5px 5px 100px 50px rgba(255, 255, 255, 1);

    #dialogContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 16px 16px;
        text-transform: capitalize;

        .dialog-image{
            height: clamp(230px, 15dvh, 400px);
            width: auto;
            object-fit: contain;
        }

        p {
            position: absolute;
            top: 60px;
            right: 16px;
        }

        .bottom-dialog {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
        }
    }
}

#previous img {
    height: 36px;
    transform: rotate(180deg);
}

#next img {
    height: 36px;
}

#closeDialog {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 9999;
}

.active-tab{
    border-bottom: 2px solid white;
}

.dialog-tabs{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 8px;

}

#dialogContentPage{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
}

.dialog-types{
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 12px;
}

.card:hover{
    box-shadow: 5px 5px 100px 50px rgba(255, 255, 255, 1);
    z-index: 54;
}

button,
.card, 
#loadMore,
#searchButton,
#closeDialog,
#next,
#previous,
.dialog-tabs button {
    cursor: pointer;
}
